<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/order/" method="post">
      First name*: <input type="text" name="fname"><br>
      Last name*: <input type="text" name="lname"><br>
      Phone*: <input type="tel" name="phone"><br>
      Email*: <input type="email" name="email"><br>
      Product*: <select name="product">
                  <% for(var i=0; i<products.length; i++) {
                    var productName = products[i].toUpperCase();
                    %>
                    <option value="<%= products[i] %>"><%= productName %></option>
                  <% } %>
                </select><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
